body {
  background-color: black;
}

.App {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
}

.card {
  width: 50%;
  margin-top: 10%;
  background-color: chocolate;
  border-radius: 20px;
  box-shadow: 0 3px 5px #ffffff;
}

.button {
  background-color: yellowgreen;
  border-radius: 5px;
  box-shadow: 0 2px 2px #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.input {
  width: 400px;
  height: 45px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  margin-right: 10px;
}

.buy-div {
  margin: 20px;
}
